<h2 mat-dialog-title>{{ dialogTitle | abpLocalization }}</h2>
<mat-card-content>
  <mat-dialog-content [formGroup]="modeForm">
    <div class="row">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ '::DeliveryModeName' | abpLocalization }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="close()">
      <mat-icon>close</mat-icon>
      {{ '::Cancel' | abpLocalization }}
    </button>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
      {{ '::Save' | abpLocalization }}
    </button>
  </mat-dialog-actions>
</mat-card-content>
