<h2 mat-dialog-title>{{ data.isEditMode ? 'Edit Shipping Service' : 'Add Shipping Service' }}</h2>

<mat-card-content>
  <mat-dialog-content>
    <form [formGroup]="form" class="shipping-service-form">
      <div class="w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div class="w-100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]="true">{{ '::Active' | abpLocalization }}</mat-option>
            <mat-option [value]="false">{{ '::Inactive' | abpLocalization }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="actions">
    <button mat-raised-button color="accent" (click)="onClose()">
      <mat-icon>close</mat-icon>
      {{ '::Close' | abpLocalization }}
    </button>
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      {{ '::Save' | abpLocalization }}
    </button>
  </mat-dialog-actions>
</mat-card-content>
