<div class="row mt-4">
  <div class="col-md-3">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ '::BatchHouseAccountPayment.SearchInvoice' | abpLocalization }}</mat-label>
      <input matInput [(ngModel)]="searchedInvoiceNo" [disabled]="leftOverAmount === 0" />
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <button mat-raised-button color="primary" (click)="applyInvoice()">
      <mat-icon>receipt</mat-icon>
      {{ '::BatchHouseAccountPayment:Apply' | abpLocalization }}
    </button>
  </div>
  <div class="col-md-2">
    <button mat-raised-button color="primary" (click)="onClickAutoApply()">
      <mat-icon>auto_awesome</mat-icon>
      {{ '::BatchHouseAccountPayment:AutoApply' | abpLocalization }}
    </button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <button mat-raised-button color="primary" (click)="onClickSaveBtn()">
      <mat-icon>save</mat-icon>
      {{ '::BatchHouseAccountPayment:CompletePaymentBtn' | abpLocalization }}
    </button>
  </div>
</div>

<table mat-table [dataSource]="_financialTransactionItems" class="w-100">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let invoiceItem">
      <mat-checkbox
        [(ngModel)]="invoiceItem.selected"
        (ngModelChange)="onCheckboxChange(invoiceItem)"
        [disabled]="
          (!invoiceItem.selected && leftOverAmount === 0) ||
          invoiceItem.isPreviouslyApplied ||
          !paymentCompleted
        "
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- TransactionNumber Column -->
  <ng-container matColumnDef="transactionNumber">
    <th mat-header-cell *matHeaderCellDef>
      {{ '::BatchHouseAccountPayment:TransactionNumber' | abpLocalization }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.transactionNumber }}</td>
  </ng-container>

  <!-- TotalAmount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef>
      {{ '::BatchHouseAccountPayment:TotalAmount' | abpLocalization }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.totalAmount | number: '1.2-2' }}</td>
  </ng-container>

  <!-- DueAmount Column -->
  <ng-container matColumnDef="dueAmount">
    <th mat-header-cell *matHeaderCellDef>
      {{ '::BatchHouseAccountPayment:DueAmount' | abpLocalization }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.dueAmount | number: '1.2-2' }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      {{ '::BatchHouseAccountPayment:Status' | abpLocalization }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.dueAmount === 0 ? 'Paid' : element.appliedAmount > 0 ? 'Partial' : 'Unpaid' }}
    </td>
  </ng-container>

  <!-- AppliedAmount Column -->
  <ng-container matColumnDef="appliedAmount">
    <th mat-header-cell *matHeaderCellDef>
      {{ '::BatchHouseAccountPayment:AppliedAmount' | abpLocalization }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.appliedAmount | number: '1.2-2' }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ '::Actions' | abpLocalization }}</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="primary"
        *ngIf="element.isPreviouslyApplied"
        (click)="onClickUnApplyBtn(element)"
      >
        {{ '::BatchHouseAccountPayment:UnApplyBtn' | abpLocalization }}
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>

  <tr class="mat-row no-data-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="columns.length">
      <app-empty-table-message></app-empty-table-message>
    </td>
  </tr>
</table>
