.mat-column-actions {
  width: 8% !important;
}

.mat-column-name {
  width: 10% !important;
}

.mat-column-code {
  width: 5% !important;
}

.mat-column-address {
  width: 12% !important;
}

.mat-column-city {
  width: 12% !important;
}

.mat-column-stateProvince {
  width: 12% !important;
}

.mat-column-zipCode {
  width: 12% !important;
}

.mat-column-specialDeliveryCharge {
  width: 12% !important;
  text-align: center;
}

.mat-column-specialInstruction {
  width: 17% !important;
}
