<div id="map" style="height: 500px; width: 100%; max-width: 700px; margin-bottom: 20px"></div>
<div class="coordinates-container">
  <div class="button-container" *ngIf="isPolygonDrawn">
    <button
      mat-raised-button
      color="primary"
      class="btn-delete-polygon"
      (click)="deletePolygonProgrammatically(false)"
    >
      <mat-icon>delete</mat-icon>
      {{ '::DeletePolygon' | abpLocalization }}
    </button>
    <button mat-raised-button color="primary" (click)="deletePolygonProgrammatically(true)">
      <mat-icon>delete</mat-icon>
      {{ '::DeletePolygonWithCoordinates' | abpLocalization }}
    </button>
  </div>

  <div *ngFor="let coord of coordinates; let i = index" class="coordinate-row">
    <mat-form-field appearance="outline" class="coordinate-field">
      <mat-label>{{ '::Latitude' | abpLocalization }} {{ i + 1 }}</mat-label>
      <input
        matInput
        id="lat-{{ i }}"
        type="text"
        [value]="coord.latitude | number: '1.4-4'"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="coordinate-field">
      <mat-label>{{ '::Longitude' | abpLocalization }} {{ i + 1 }}</mat-label>
      <input
        matInput
        id="lon-{{ i }}"
        type="text"
        [value]="coord.longitude | number: '1.4-4'"
        readonly
      />
    </mat-form-field>
  </div>
</div>
