.pos-payment-options {
  border: 1px solid var(--primary-color);
  background-color: #fffbf6;
}

.card-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.submit-button {
  width: 60%;
  margin: auto;
  text-align: right;
}

.price-input {
  color: var(--primary-color) !important;
}
