.mat-column-subOrder {
  width: 15%;
}
.mat-column-deliveryDate {
  width: 10%;
}
.mat-column-orderType {
  width: 10%;
}
.mat-column-recipient {
  width: 10%;
}
.mat-column-deliveryLocation {
  width: 15%;
}
.mat-column-orderDetails {
  width: 15%;
}
.mat-column-orderStatus {
  width: 5%;
}
.mat-column-deliveryType {
  width: 5%;
}
.mat-column-deliveryStatus {
  width: 5%;
}
.mat-column-deliveredDate {
  width: 10%;
}
