.mat-column-actions {
  width: 5%;
}

.mat-column-customerId {
  width: 10%;
}

.mat-column-type {
  width: 10%;
}

.mat-column-name {
  width: 15%;
}

.mat-column-address1 {
  width: 20%;
}

.mat-column-phoneNumbers {
  width: 20%;
}

.mat-column-emails {
  width: 20%;
}
