@import url('https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps.css');
@import url('https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/DrawingTools/1.1.5//DrawingTools.css');
@import url('https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.1.12/SearchBox.css');
.lat-margin {
  margin-right: 20px;
}

.btn-delete-polygon {
  margin-right: 10px;
}

.button-container {
  margin-bottom: 20px;
}
