<h2 mat-dialog-title *ngIf="!isAddMode">{{ '::CarryOut' | abpLocalization }}</h2>
<h2 mat-dialog-title *ngIf="isAddMode">{{ '::CarryOut' | abpLocalization }}</h2>

<mat-dialog-content>
  <mat-horizontal-stepper #stepper [linear]="true">
    <mat-step [stepControl]="orderPersonalizationForm">
      <form [formGroup]="orderPersonalizationForm">
        <ng-template matStepLabel>{{ '::OrderPersonalization' | abpLocalization }}</ng-template>
        <div class="stepper-actions text-right">
          <button mat-raised-button (click)="onSave()" type="button" color="primary" class="me-2">
            {{ '::Save' | abpLocalization }}
          </button>
          <button mat-raised-button mat-dialog-close type="button" color="accent">
            {{ '::Cancel' | abpLocalization }}
          </button>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ '::Occasion' | abpLocalization }}</mat-label>
              <mat-select formControlName="occasion">
                <mat-option *ngFor="let occasion of occasions" [value]="occasion.value">
                  {{ '::Enum:OccasionType.' + occasion.value | abpLocalization }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-checkbox formControlName="copyCardMessage">{{
              '::CopyCardMessage' | abpLocalization
            }}</mat-checkbox>
          </div>
          <div class="col-md-6 mb-2 text-right">
            <button mat-mini-fab color="primary" (click)="addRecipientForm()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div formArrayName="recipientPersonalization">
          <div
            *ngFor="let recipientGroup of recipientPersonalizationFormArray.controls; let i = index"
            [formGroupName]="i"
            class="blue-form-section"
          >
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ '::RecipientName' | abpLocalization }}</mat-label>
                  <input matInput formControlName="recipientName" />
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ '::ShortCode' | abpLocalization }}</mat-label>
                  <mat-select
                    formControlName="shortCodeId"
                    (selectionChange)="onShortCodeChange($event.value, i)"
                  >
                    <mat-option *ngFor="let code of shortCodes" [value]="code.id">
                      {{ code.shortCut }} - {{ code.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-1 text-right">
                <button
                  mat-mini-fab
                  color="primary"
                  (click)="duplicateRecipientForm(i)"
                  matTooltip="Duplicate"
                  *ngIf="orderPersonalizationForm.get('copyCardMessage')?.value"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  *ngIf="i > 0"
                  mat-mini-fab
                  color="warn"
                  (click)="removeRecipientForm(i)"
                  class="mt-1"
                >
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ '::CardMessage' | abpLocalization }}</mat-label>
                  <textarea matInput formControlName="cardMessage" maxlength="400"></textarea>
                  <mat-hint align="end"
                    >{{ recipientGroup.get('cardMessage').value?.length || 0 }}/400</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <p
          *ngIf="recipientPersonalizationFormArray.length >= maxRecipients"
          class="max-recipients-message"
        >
          The quantity matches the {{ maxRecipients }} recipient(s) added. Please increase the
          quantity to add more recipients.
        </p>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
