<mat-card>
  <mat-card-header class="w-100">
    <mat-card-title-group class="w-100">
      <mat-card-title class="abp-card-title">{{
        '::Menu:MessageTemplates' | abpLocalization
      }}</mat-card-title>
      <button
        *abpPermission="'ClientPortal.MessageTemplates.CreateAndEdit'"
        id="create"
        mat-raised-button
        color="primary"
        (click)="addMessageTemplate()"
      >
        <i class="fa fa-plus mr-1"></i>
        <span>{{ '::MessageTemplate:AddNewBtn' | abpLocalization }}</span>
      </button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <app-search
      [placeHolder]="'::MessageTemplate:Search' | abpLocalization"
      (filterChange)="search($event)"
      [(filter)]="filter"
    ></app-search>

    <table
      mat-table
      [dataSource]="messageTemplatesPaginatedResult.items"
      matSort
      (matSortChange)="changeSort($event)"
      class="w-100"
    >
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ '::Actions' | abpLocalization }}</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id }"
          >
            <mat-icon>settings</mat-icon>
            {{ '::Actions' | abpLocalization }}
            <mat-icon>expand_more</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::MessageTemplates:Fields:Name' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::MessageTemplates:Fields:Subject' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::MessageTemplates:Fields:Body' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.body }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columns.length">
          <app-empty-table-message></app-empty-table-message>
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageIndex]="list.page"
      [length]="messageTemplatesPaginatedResult.totalCount"
      [pageSize]="list.maxResultCount"
      (page)="changePage($event)"
    ></mat-paginator>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id" let-name="name">
    <button
      *abpPermission="'ClientPortal.MessageTemplates.CreateAndEdit'"
      mat-menu-item
      (click)="editMesssageTemplateById(id, name)"
    >
      {{ '::Edit' | abpLocalization }}
    </button>
    <button
      *abpPermission="'ClientPortal.MessageTemplates.Delete'"
      mat-menu-item
      (click)="delete(id)"
    >
      {{ '::Delete' | abpLocalization }}
    </button>
  </ng-template>
</mat-menu>
