form {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
}

.full-width {
  width: 100%;
  margin-bottom: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 5px;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 0;
}

.full-width {
  width: 100%;
}
