<mat-card>
  <mat-card-header class="w-100">
    <mat-card-title-group class="w-100 d-flex justify-content-between align-items-center">
      <mat-card-title class="abp-card-title">{{
        '::Menu:Employees' | abpLocalization
      }}</mat-card-title>
      <div class="button-group d-flex">
        <button
          *abpPermission="'ClientPortal.Employees.CreateAndEdit'"
          id="create"
          mat-raised-button
          color="primary"
          type="button"
          [routerLink]="['create']"
          class="me-2"
        >
          <mat-icon>add</mat-icon>
          <span>{{ '::Employee.New' | abpLocalization }}</span>
        </button>
        <button
          *abpPermission="'ClientPortal.Employees.Export'"
          mat-raised-button
          color="accent"
          class="me-2"
          type="button"
          (click)="exportEmployee()"
        >
          <i class="fa fa-download mr-1 mr-1"></i>
          <span>{{ '::Export' | abpLocalization }}</span>
        </button>
      </div>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <app-search
      placeHolder="Search by name or id"
      (filterChange)="onSearch($event)"
      [(filter)]="filter"
    />

    <mat-table
      [dataSource]="employees.items"
      class="w-100"
      matSort
      (matSortChange)="changeSort($event)"
      class="employee-table"
    >
      <!--   Display Name Column   -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Employee.Fields.DisplayName' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.displayName }}
        </mat-cell>
      </ng-container>

      <!--   Employee Id Column   -->
      <ng-container matColumnDef="employeeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Employee.Fields.EmployeeId' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.employeeId }}
        </mat-cell>
      </ng-container>

      <!--   Role Column   -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>
          {{ '::Employee.Fields.Role' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.role }}
        </mat-cell>
      </ng-container>

      <!--   Department Column   -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Employee.Fields.Department' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.department }}
        </mat-cell>
      </ng-container>

      <!--   Status Column   -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Employee.Fields.Status' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.status }}
        </mat-cell>
      </ng-container>

      <!--   Location Column   -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Employee.Fields.Location' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.storeName }}
        </mat-cell>
      </ng-container>

      <!--   Actions Column   -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          {{ '::Actions' | abpLocalization }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            class="action-btn"
            mat-raised-button
            color="primary"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id }"
          >
            <mat-icon>settings</mat-icon>
            {{ '::Actions' | abpLocalization }}
            <mat-icon>expand_more</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Definitions -->
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columns.length">
          <app-empty-table-message></app-empty-table-message>
        </td>
      </tr>
    </mat-table>
    <mat-paginator
      [pageIndex]="list.page"
      [length]="employees.totalCount"
      [pageSize]="list.maxResultCount"
      (page)="changePage($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button
      *abpPermission="'ClientPortal.Employees.CreateAndEdit'"
      mat-menu-item
      [routerLink]="['edit', id]"
    >
      {{ '::Edit' | abpLocalization }}
    </button>
    <button *abpPermission="'ClientPortal.Employees.Delete'" mat-menu-item (click)="delete(id)">
      {{ '::Delete' | abpLocalization }}
    </button>
  </ng-template>
</mat-menu>
