<mat-card>
  <mat-card-header>
    <mat-card-title-group class="w-100 d-flex justify-content-between align-items-center">
      <mat-card-title class="abp-card-title">
        {{ '::Menu:Recipients' | abpLocalization }}
      </mat-card-title>
      <div class="button-group d-flex">
        <button
          mat-raised-button
          class="me-2"
          color="primary"
          id="create"
          type="button"
          (click)="createRecipient()"
        >
          <mat-icon>add</mat-icon>
          <span>{{ '::NewRecipient' | abpLocalization }}</span>
        </button>
      </div>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <app-search (filterChange)="search($event)" [(filter)]="filter"></app-search>
    <table
      mat-table
      [dataSource]="recipients.items"
      class="w-100"
      matSort
      (matSortChange)="changeSort($event)"
    >
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ '::Actions' | abpLocalization }}</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            [matMenuTriggerFor]="menu"
            [matMenuTriggerData]="{ id: element.id }"
          >
            <mat-icon>settings</mat-icon>
            {{ '::Actions' | abpLocalization }}
            <mat-icon>expand_more</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Recipient:FirstName' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Recipient:LastName' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Recipient:Email' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ '::Recipient:PhoneNumber' | abpLocalization }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.number }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <mat-paginator
      [length]="recipients.totalCount"
      [pageSize]="list.maxResultCount"
      (page)="changePage($event)"
    ></mat-paginator>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="editRecipient(id)">
      {{ '::Edit' | abpLocalization }}
    </button>
    <button mat-menu-item (click)="deleteRecipient(id)">
      {{ '::Delete' | abpLocalization }}
    </button>
  </ng-template>
</mat-menu>
