.swipeHeader {
  background-color: #fcf8e3;
  height: 40px;
  margin-left: 12px;
  margin-top: 5px;
}

.swipeCard {
  margin-top: 10px;
  margin-left: 5px;
}

.giftCard-Error {
  text-align: center;
  color: red;
  width: 100%;
}

.giftCard-Success {
  width: 100%;
  color: #355e3b;
  text-align: center;
}
