.filter-section {
  float: left;
  overflow: hidden;
  display: block;
  padding-top: 24px;
  padding-left: 10px;
}
.search-section {
  float: left;
  overflow: hidden;
  display: block;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  display: block;
  white-space: nowrap; 
  padding-bottom: 15px;
}

table {
  width: max-content;
}