h4.text-primary {
  font-size: 15px;
  margin-bottom: 2px;
  font-weight: bold;
}

textarea {
  height: 45px !important;
  line-height: 1 !important;
  padding: 2px !important;
}

label {
  min-width: 30px;
  max-width: 30px;
}
