.filter-section {
    padding-top: 24px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap; 
    padding-bottom: 15px;
}

table {
    width: max-content;
}