<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ '::Pos:Payment:CreditCard:Amount' | abpLocalization }}</mat-label>
  <input matInput type="number" [(ngModel)]="amountToCharge" (ngModelChange)="onAmountChange()" />
</mat-form-field>

<div class="fee-details" *ngIf="enabledCreditCardFeeOnPosOrder">
  <p class="mb-0">
    {{ '::Pos:Payment:CreditCard:CreditCardFee' | abpLocalization }} ({{ creditCardFee }}%):
    <strong>{{ creditCardTotalFee | number: '1.2-2' }}</strong>
  </p>
  <p>
    {{ '::Pos:Payment:CreditCard:TotalAmount' | abpLocalization }}
    <strong>{{ amountToChargeTotalDisplay | number: '1.2-2' }}</strong>
  </p>
</div>
