<mat-card class="checkbox-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group class="w-100">
      <mat-card-title class="abp-card-title">
        {{ title | abpLocalization }}
      </mat-card-title>
    </mat-card-title-group>
    <app-back-button [route]="'/products'" tabindex="1"></app-back-button>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <form *ngIf="form" [formGroup]="form" class="product-form">
      <mat-expansion-panel class="mb-3" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ '::Product.Info' | abpLocalization }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-group row" *ngIf="this.isEditMode">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                matInput
                formControlName="hasRecipes"
                class="checkbox-margin"
                tabindex="1"
              >
                {{ '::Product.HasRecipes' | abpLocalization }}
              </mat-checkbox>
            </section>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.ProductCode' | abpLocalization }}</mat-label>
              <input
                tabindex="2"
                matInput
                type="text"
                id="product-productCode"
                formControlName="productCode"
                [readonly]="!editMode ? isGiftCard : editMode"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <app-dropdown
              [tabIndex]="13"
              [label]="'::Product.Type' | abpLocalization"
              [options]="this.model.availableProductTypes"
              [displayField]="'name'"
              [valueField]="'id'"
              [control]="form.get('productTypeValueId')"
            >
            </app-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.Status' | abpLocalization }}</mat-label>
              <mat-select matinput id="product-status" formControlName="status" tabindex="3">
                <mat-option [value]="null">{{ '::Product.Select' | abpLocalization }}</mat-option>
                <mat-option *ngFor="let option of productStatuses" [value]="option.value">
                  {{ option.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.SKU' | abpLocalization }}</mat-label>
              <input matInput type="text" id="product-sku" formControlName="sku" tabindex="14" />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <app-dropdown
              [label]="'::Product.Department' | abpLocalization"
              [options]="this.model.availableDepartments"
              [displayField]="'name'"
              [valueField]="'id'"
              [tabIndex]="4"
              [control]="form.get('departmentValueId')"
            >
            </app-dropdown>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.ItemName' | abpLocalization }}</mat-label>
              <input matInput type="text" id="product-name" formControlName="name" tabindex="15" />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.CareCode' | abpLocalization }}</mat-label>
              <mat-select
                matinput
                id="product-careCodeValueId"
                formControlName="careCodeValueId"
                tabindex="5"
              >
                <mat-option [value]="null">{{ '::Product.Select' | abpLocalization }}</mat-option>
                <mat-option
                  *ngFor="let pValue of this.model.availableCareCodes"
                  [value]="pValue.id"
                >
                  {{ pValue.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.BinLocation' | abpLocalization }}</mat-label>
              <input
                matInput
                type="text"
                id="product-binLocation"
                formControlName="binLocation"
                tabindex="16"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.PurchasedUnitofMeasure' | abpLocalization }}</mat-label>
              <mat-select
                tabindex="6"
                matinput
                id="product-purchasedUnitOfMeasure"
                matInput
                formControlName="purchasedUnitOfMeasure"
              >
                <mat-option [value]="null">{{ '::Product.Select' | abpLocalization }}</mat-option>
                <mat-option *ngFor="let option of unitOfMeasures" [value]="option.value">
                  {{ option.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.UnitValue' | abpLocalization }}</mat-label>
              <input
                tabindex="17"
                matInput
                type="number"
                id="product-purchasedUnitOfMeasureValue"
                formControlName="purchasedUnitOfMeasureValue"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.SellingUnitofMeasure' | abpLocalization }}</mat-label>
              <mat-select
                tabindex="7"
                matinput
                id="product-sellingUnitOfMeasure"
                matInput
                formControlName="sellingUnitOfMeasure"
              >
                <mat-option [value]="null">{{ '::Product.Select' | abpLocalization }}</mat-option>
                <mat-option *ngFor="let option of unitOfMeasures" [value]="option.value">
                  {{ option.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.UnitValue' | abpLocalization }}</mat-label>
              <input
                tabindex="18"
                matInput
                type="number"
                id="product-sellingUnitOfMeasureValue"
                formControlName="sellingUnitOfMeasureValue"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.Description' | abpLocalization }}</mat-label>
              <textarea
                tabindex="8"
                matInput
                type="text"
                id="product-description"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.Store' | abpLocalization }}</mat-label>
              <mat-select
                formControlName="storeIds"
                multiple
                (selectionChange)="onStoreSelectionChange()"
              >
                @for (store of stores; track stores) {
                  <mat-option [value]="store.id">{{ store.storeFormatted }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Products.ProductCategoryType' | abpLocalization }}</mat-label>
              <mat-select
                tabindex="9"
                matinput
                id="product-categoryType"
                formControlName="productCategoryType"
                (selectionChange)="setupProductCategoryTypeBehavior()"
              >
                <mat-option *ngFor="let option of productCategoryTypes" [value]="option.value">
                  {{ '::Enum:ProductCategoryType.' + option.value | abpLocalization }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="10"
                matInput
                formControlName="isCommisionable"
                class="checkbox-margin"
                >{{ '::Product.Commisionable' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="11"
                matInput
                formControlName="isForceWireServiceEnabled"
                class="checkbox-margin"
                >{{ '::Product.ForceWireService' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.WireService' | abpLocalization }}</mat-label>
              <mat-select
                matinput
                id="product-wireServiceId"
                formControlName="wireServiceId"
                tabindex="12"
              >
                <mat-option [value]="null">{{ '::Product.Select' | abpLocalization }}</mat-option>
                <mat-option *ngFor="let option of wireServices" [value]="option.value">
                  {{ option.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-3" expanded *ngIf="this.isEditMode && this.hasRecipe">
        <mat-expansion-panel-header>
          {{ '::Product.Recipies' | abpLocalization }}
        </mat-expansion-panel-header>

        <app-recipe-list
          [entityId]="this.model.id"
          [laborCost]="this.form.get('laborCost').value"
        ></app-recipe-list>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-3" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ '::Product.PricingDetails' | abpLocalization }} </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                matInput
                formControlName="isNonTaxable"
                class="checkbox-margin"
                tabindex="21"
                >{{ '::Product.Non-Taxable' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>

        <div class="form-group row mt-2">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.BasePrice' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-basePrice"
                formControlName="basePrice"
                tabindex="22"
              />
              <span matTextSuffix>$</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.MidPrice' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-midPrice"
                formControlName="midPrice"
                tabindex="26"
              />
              <span matTextSuffix>$</span>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.HighPrice' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-highPrice"
                formControlName="highPrice"
                tabindex="23"
              />
              <span matTextSuffix>$</span>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.WireOut' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-wireOut"
                formControlName="wireOut"
                tabindex="27"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.UnitCost' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-unitCost"
                formControlName="unitCost"
                tabindex="24"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.AverageCost' | abpLocalization }}</mat-label>
              <input
                tabindex="28"
                matInput
                type="number"
                readonly
                id="product-averageCost"
                formControlName="averageCost"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="25"
                matInput
                formControlName="isBasePriceOverriden"
                class="checkbox-margin"
                >{{ '::Product.IsBasePriceOverriden' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.LaborCost' | abpLocalization }}</mat-label>
              <input
                matInput
                type="number"
                id="product-laborCost"
                formControlName="laborCost"
                tabindex="29"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-3" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ '::Product.InventoryDetails' | abpLocalization }} </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="30"
                matInput
                formControlName="isTrackingInventoryEnabled"
                class="checkbox-margin"
              >
                {{ '::Product.TrackInventory' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
          <div class="col-md-6" *ngIf="!isRecipieManagedAsBundle">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="33"
                matInput
                formControlName="isOutOfStockSalesEnabled"
                class="checkbox-margin"
              >
                {{ '::Product.IsOutOfStockSalesEnabled' | abpLocalization }}
              </mat-checkbox>
            </section>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.LowStock' | abpLocalization }}</mat-label>
              <input
                tabindex="31"
                matInput
                type="number"
                id="product-lowStockQuantiy"
                formControlName="lowStockQuantiy"
              />
            </mat-form-field>
          </div>
        </div>

        <div
          class="form-group row mt-2"
          *ngIf="isInventoryManagedAtCorporateLevel; else storeWiseProductConfig"
        >
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.On-Hand' | abpLocalization }}</mat-label>
              <input
                tabindex="32"
                matInput
                type="number"
                id="product-onHandQuantity"
                formControlName="onHandQuantity"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.On-Order' | abpLocalization }}</mat-label>
              <input
                tabindex="34"
                matInput
                type="number"
                id="product-onOrderQuantity"
                formControlName="onOrderQuantity"
              />
            </mat-form-field>
          </div>
        </div>

        <ng-template #storeWiseProductConfig>
          <app-product-stock [productId]="model?.id"></app-product-stock>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel class="mb-3" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ '::Product.OtherDetails' | abpLocalization }} </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                matInput
                formControlName="isSeasonal"
                class="checkbox-margin"
                tabindex="38"
              >
                {{ '::Product.IsSeasonal' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="39"
                matInput
                formControlName="isSeasonalPricingEnabled"
                class="checkbox-margin"
              >
                {{ '::Product.IsSeasonalPricingEnabled' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.SeasonalPrice' | abpLocalization }}</mat-label>
              <input
                tabindex="40"
                matInput
                type="number"
                id="product-seasonalPrice"
                formControlName="seasonalPrice"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <section class="checkbox-section">
              <mat-checkbox
                tabindex="41"
                matInput
                formControlName="isSeasonalAvailabilityEnabled"
                class="checkbox-margin"
              >
                {{ '::Product.IsSeasonalAvailabilityEnabled' | abpLocalization }}</mat-checkbox
              >
            </section>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.StartDate' | abpLocalization }}</mat-label>
              <input
                tabindex="42"
                matInput
                [matDatepicker]="picker"
                formControlName="seasonalAvailabilityStartDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
                tabindex="43"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.EndDate' | abpLocalization }}</mat-label>
              <input
                tabindex="47"
                matInput
                [matDatepicker]="pickerEndDate"
                formControlName="seasonalAvailabilityEndDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerEndDate"
                tabindex="48"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEndDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="this.isEditMode">
          <div class="form-group row">
            <div class="col-md-6">
              <section class="checkbox-section">
                <mat-checkbox
                  matInput
                  formControlName="hasImage"
                  class="checkbox-margin"
                  tabindex="44"
                >
                  {{ '::Product.HasImage' | abpLocalization }}</mat-checkbox
                >
              </section>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ '::Product.Image' | abpLocalization }}</mat-label>
                <input
                  tabindex="45"
                  matInput
                  type="text"
                  readonly="true"
                  value="{{ fileName || '::Product.ChooseFile' | abpLocalization }}"
                  (click)="fileInput.click()"
                />
                <input
                  tabindex="46"
                  #fileInput
                  type="file"
                  accept="image/jpeg, image/png, image/gif"
                  (change)="onFileChange($event)"
                  [disabled]="hasImage.value"
                  hidden
                />
                <mat-icon matSuffix>attach_file</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{ '::Product.ImageUrl' | abpLocalization }}</mat-label>
                <input
                  matInput
                  type="text"
                  id="product-imageUrl"
                  formControlName="imageUrl"
                  tabindex="49"
                />
                <mat-icon
                  matSuffix
                  [matTooltip]="'::Product.ImageUrl.Hint' | abpLocalization"
                  matTooltipPosition="above"
                  matTooltipClass="multiline-tooltip"
                >
                  help_outline
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6" *ngIf="imageSrc">
              <mat-label class="preview-label">{{
                '::Product.Preview' | abpLocalization
              }}</mat-label>
              <div class="mt-2 img-container">
                <img [src]="imageSrc" class="mg-preview" />
                <button class="btn-remove" (click)="removeImage()">
                  <i class="fa fa-times m-1" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{ '::Product.Comment' | abpLocalization }}</mat-label>
              <textarea
                tabindex="50"
                matInput
                type="number"
                id="product-comment"
                formControlName="comment"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </form>

    <mat-card-actions align="end">
      <button
        tabindex="51"
        type="button"
        mat-raised-button
        color="accent"
        class="me-1"
        [routerLink]="['/products']"
      >
        <mat-icon>close</mat-icon>
        {{ '::Cancel' | abpLocalization }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="me-1"
        type="submit"
        (click)="onSaveClick()"
        tabindex="52"
      >
        <mat-icon>save</mat-icon>
        <span> {{ '::Save' | abpLocalization }}</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSaveAndContinueClick()"
        tabindex="53"
      >
        <mat-icon>save</mat-icon>
        <span> {{ '::SaveAndContinue' | abpLocalization }}</span>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
