<mat-card>
  <mat-card-header class="w-100">
    <mat-card-title-group class="w-100"> </mat-card-title-group>
    <app-back-button [route]="'/customers'"></app-back-button>
  </mat-card-header>
  <mat-card-content class="my-3">
    <div class="row mb-3">
      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ '::Customer:CustomerBalanceDetails' | abpLocalization }}
            </mat-card-title>
          </mat-card-header>
          <hr />
          <mat-card-content>
            <div class="balance-details-row" *ngFor="let detail of balanceDetails">
              <div class="row align-items-center">
                <div class="col col-md-6 text-start">
                  <strong>{{ detail.label | abpLocalization }}</strong>
                </div>
                <div class="col col-md-6 text-end">
                  <strong>$ {{ detail.value | number: '1.2-2' }}</strong>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <app-customer-payable-details
          [customerHouseAccount]="customerHouseAccount"
        ></app-customer-payable-details>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-customer-invoice-list></app-customer-invoice-list>
