.file-name {
  margin-left: 1rem;
}

.file-input-section {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 0px;
}

.gray-btn {
  background-color: rgb(216, 216, 216);
}

.text-error{
  color: red;
}