.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

mat-dialog-content {
  max-width: 100%;
}

.log-item {
  padding: 0.5rem 0;
}

.log-value {
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.log-value-long {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-height: 100%;
  overflow-y: auto;
}

hr {
  margin: 0.75rem 0;
  height: 1px;
  border: none;
  background-color: black;
}