mat-card {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.confirm-password-message {
    margin-left: 0.6rem;
}

.container {
    width: 500px;
    height: 300px;
}

.reset-btn {
    width: 100%;
}

.text-align-center {
    text-align: center
}